# Django and related packages
Django==3.2.18
django-crispy-forms==1.14.0
django-timezone-field==4.2.3
django-celery-beat==2.2.1

# Celery and dependencies
celery==5.2.7
kombu==5.3.1
billiard==3.6.4.0
vine==5.0.0
amqp==5.1.1

# Serveur WSGI
gunicorn==21.2.0

# Database
psycopg2-binary==2.9.5

# Redis
redis==4.5.4

# Images
Pillow==9.5.0

# Tools
python-crontab==2.7.1
python-dateutil==2.8.2
pytz==2023.3
asgiref==3.7.2
sqlparse==0.4.4
six==1.16.0
importlib-metadata==6.8.0
zipp==3.17.0